body {
  font-family: 'Noto Serif', serif;
  color: rgb(119, 128, 136);
  line-height: 1.25rem;
}

header, h2, legend, button[type="submit"] {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(46, 57, 69);
}

.column {
  margin: auto;
  width: 90%;
}

::placeholder {
  text-align: right;
  padding-right: 1rem;
}

footer, ::placeholder {
  font-style: italic;
}

/* HEADER */

header {
  background-color: rgb(46, 57, 69);
  color: white;
  text-align: center;
  padding: 1.5rem;
}

section {
  padding: 1.7rem 0;
  text-align: center;
  border-bottom: 4px solid black;
}

section h2 {
  margin-bottom: 1rem;
}

/* FORM */

input, button[type="submit"], textarea, select {
  padding: 0.6rem 0;
  border: none;
  border-radius: 4px;
  background-color: #ececec;
}

textarea, button[type="submit"], legend, .contactField input, select {
  width: 100%;
}

label {
  margin: 0.75rem 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: .25rem 0 1.5rem 0;
}

legend {
  padding: 1rem 0 0.75rem 0;
  margin: 0.20em 0;
  border-top: 2px solid black;
}

.row {
  margin: 1rem 0;
}

.newsletterField legend {
  padding-bottom: 0.50rem;
}

textarea {
  padding: 1.5rem 0;
}

button[type="submit"] {
  padding: 1rem 0;
  background-color: rgb(78, 187, 181);
  color: white;
}

input[name="zip"] {
  width: 50%;
}

/* FOOTER */

footer {
  margin: 1.5rem 0;
  text-align: center;
}
